## Last-year page. Uses shared head/body/foot includes.
#errorCatcher Echo
#def lbl($key)
<span class="i18n" data-i18n="$key">$gettext($key)</span>#slurp
#end def
#def tf($v)
#return $str($v).strip().lower() not in ('false','0','no','off','')
#end def
#def hlrow($key, $stat)
        <div class="line twocol"><div class="lleft">$lbl($key)</div><div class="lright"><span>&#9650; $stat.max.format()<span class="hl-at">at</span><span class="hl-time">$stat.maxtime</span></span><span>&#9660; $stat.min.format()<span class="hl-at">at</span><span class="hl-time">$stat.mintime</span></span></div></div>
#end def
#set global $active = 'lastyear'
#set global $P = $year(years_ago=1)
#set global $period_key = 'lastyear'
#set global $show_current = False
#set global $period_title_key = "Last Year"
#include "_head.inc"
#include "_periodbody.inc"
#include "_foot.inc"
