## Year page. Uses shared head/body/foot includes.
#errorCatcher Echo
#def lbl($key)
<span class="i18n" data-i18n="$key">$gettext($key)</span>#slurp
#end def
#def tf($v)
#return $str($v).strip().lower() not in ('false','0','no','off','')
#end def
#def hlrow($key, $stat, $hi_only=False)
        <div class="line twocol"><div class="lleft">$lbl($key)</div><div class="lright"><span><b class="hl-up">&#9650;</b> $stat.max.format()<span class="hl-time">$stat.maxtime</span></span>#if not $hi_only#<span><b class="hl-dn">&#9660;</b> $stat.min.format()<span class="hl-time">$stat.mintime</span></span>#end if#</div></div>
#end def
#set global $active = 'year'
#set global $P = $year
#set global $period_key = 'year'
#set global $show_current = False
#set global $period_title_key = "Last 365 Days"
#include "_head.inc"
#include "_periodbody.inc"
#include "_foot.inc"
